<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{pricing_name}}</title>

<style type="text/css">

@font-face {
  font-family: Roboto-Medium;
  src: url('/home/rysiekmirek/mysite/font/Roboto-Medium.ttf');
}

table {
    border-spacing: 0px;
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

td, th {
  min-width: 120px;
  padding:0px;
  font-family: Roboto-Medium;
  text-align: center;
}

p {
   font-family: Roboto-Medium;
}

</style>

    </head>

<body>

<img  src="/media/blizniak-logo-1.jpg" alt="logo" height="50px" >

        <div class='wrapper'>
            <div class='header'>
                <p class='title'> Nazwa wyceny:<b> {{pricing_name}} </b></p>
                <p class='title'> Autor wyceny:<b> {{pricing_username}} </b></p>
            </div>




    <table class="table table-striped table-sm borderless" cellspacing="0">
        <tr>
        <th>Nazwa Okna</th>
        <th>Typ osłony</th>
        <th>Kolor</th>
        <th>Szerokość (cm)</th>
        <th>Wysokość (cm) / <br> Kategoria cenowa</th>
        <th>Cena (PLN)</th>
        <th>Cena po korekcie (PLN)</th>
        </tr>
    {%for pricing in pricings_list %}
        <tr>
            <td>{{pricing.windowName}}</td>
            <td>{{pricing.shadeType}}</td>
            <td>{{pricing.shadeColor}}</td>
            <td>{{pricing.shadeWidth}}</td>
            <td>{{pricing.shadeHeight}}</td>
            <td>{{pricing.shadePrice}}</td>
            <td>{{pricing.shadePriceAdjusted}}</td>
        </tr>
    {% endfor %}
        <tr><hr><td></td><td></td><td></td><td></td><td></td><td><b>{{sum_of_prices}}</b></td><td><b>{{sum_of_prices_adjusted}} ({{pricing_adjustment}} %)</b></td></tr>
    </table>
    <hr>
    <p> <b>Komentarz do wyceny: </b>{% if pricing_comment != None %}{{pricing_comment}}{% endif %}</p>
    <hr>
    <p> <b>Korekta ceny: </b> {{pricing_adjustment}} % </p>
    <hr>


    </body>
</html>